@model Campbook_App.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?auto=format&fit=crop&w=1267&q=80"
                    class="card-img-top" alt="Login" />
                <div class="card-body">
                    <h5 class="card-title text-center">Login</h5>
                    <form asp-action="Login" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label"></label>
                            <input asp-for="Username" class="form-control" required />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input asp-for="Password" type="password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
