@{
    ViewData["Title"] = "Campbook";
}

<main class="px-3">
    <h1>Campbook</h1>
    <p class="lead">
        Welcome to Campbook!<br />
        Jump right in and explore our many campgrounds.<br />
        Feel free to share some of your own and comment on others!
    </p>
    <a asp-controller="Campgrounds" asp-action="Index" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white text-dark">
        View Campgrounds
    </a>
</main>
